{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3 text-center">Producteurs</h1>
        <div class="row">
            {% for producteur in producteurs %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-success text-white text-center">
                            <h5 class="mb-0">{{ producteur.firstName }} {{ producteur.name }}</h5>
                        </div>
                        <img src="{{ asset('images/producteur_' ~ producteur.id) }}" class="card-img-top" alt="Photo de {{ producteur.name }}">
                        <div class="card-body text-center">
                            <h6 class="card-title">
                                {% if producteur.profession is defined and producteur.profession %}
                                    {{ producteur.profession.name }}
                                {% else %}
                                    Profession non définie
                                {% endif %}
                            </h6>                              <p class="card-text">
                            <h6>{{ producteur.address }}</h6>
                            </p>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal{{ producteur.id }}">Supprimez le compte</button>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteAccountModal{{ producteur.id }}" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteAccountModalTitle">Confirmer la suppression</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer le compte de <strong>{{ producteur.name }} {{ producteur.firstName }}</strong>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('delete_account', {id:producteur.id}) }}" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Aucun producteur trouvé.</p>
            {% endfor %}
        </div>
    </div>
    <h1 class="my-3 text-center">Utilisateurs</h1>
    <div class="row">
        {% for user in users %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-success text-white text-center">
                        <h5 class="mb-0">{{ user.firstName }} {{ user.name }}</h5>
                    </div>
                    <img src="{{ asset('images/producteur_' ~ user.id) }}" class="card-img-top" alt="Photo de {{ user.name }}">
                    <div class="card-body text-center">
                        <p class="card-text">
                            <h6>{{ user.address }}</h6>
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal{{ user.id }}"">Supprimez le compte</button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteAccountModal{{ user.id }}" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteAccountModalTitle">Confirmer la suppression</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer le compte de <strong>{{ user.name }} {{ user.firstName }}</strong>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('delete_account', {id:user.id}) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">Aucun utilisateur trouvé.</p>
        {% endfor %}
    </div>

{% endblock %}
